@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

body {
  font-family: 'Amiri', serif;
  background-color: #f5f5f5; /* خلفية فاتحة */
}